<%= form_with(model: aktor, local: true) do |form| %>
  <% if aktor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aktor.errors.count, "error") %> prohibited this aktor from being saved:</h2>

      <ul>
      <% aktor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :aktor_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :aktor_surname %>
  </div>
  
  <div class="field">
    <%= form.label :Film %>
    <%= form.collection_select :film_id, Film.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
