<p id="notice"><%= notice %></p>

<h1>Aktors</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
	  <th>Film
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aktors.each do |aktor| %>
      <tr>
        <td><%= aktor.name %></td>
        <td><%= aktor.surname %></td>
		<td><%= aktor.film.name if aktor.film %></td>
        <td><%= link_to 'Wyświetl', aktor %></td>
        <td><%= link_to 'Edytuj', edit_aktor_path(aktor) %></td>
        <td><%= link_to 'Usuń', aktor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy Aktor', new_aktor_path %>
