<p id="notice"><%= notice %></p>

<p>
  <strong>Imie: </strong>
  <%= @aktor.name %>
</p>

<p>
  <strong>Nazwisko: </strong>
  <%= @aktor.surname %>
</p>

<p>
  <strong>Film: </strong>
  <%= @aktor.film.name if @aktor.film %>
</p>

<%= link_to 'Edit', edit_aktor_path(@aktor) %> |
<%= link_to 'Back', aktors_path %>
